.widget-crop-upload-image{
    position: relative;
}

.widget-wrap-upload{
    position: relative;
    overflow: hidden;
}

.widget-wrap-upload, .widget-button-close{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    text-align: center;
    padding: 3px 4px 2px;
    top: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: .5;
}
.widget-wrap-upload:hover, .widget-button-close:hover{
    opacity: 1;
}

.widget-wrap-upload{
    right: 30px;
}
.widget-button-close{
    right: 5px;
}

.widget-input-file{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}

.widget-crop-image{
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    display: block;
}